/* Coolors Exported Palette - coolors.co/6e6a5e-4d2919-918b24-f5cd8f-4b4313 */

/* HSL */
$color1: hsla(45%, 8%, 40%, 1);
$color2: hsla(18%, 51%, 20%, 1);
$color3: hsla(57%, 60%, 35%, 1);
$color4: hsla(36%, 84%, 76%, 1);
$color5: hsla(51%, 60%, 18%, 1);

/* RGB */
$color1: rgba(110, 106, 94, 1);
$color2: rgba(77, 41, 25, 1);
$color3: rgba(145, 139, 36, 1);
$color4: rgba(245, 205, 143, 1);
$color5: rgba(75, 67, 19, 1);
