---
layout: default
---
      <!-- Heading Row -->
<div class="my-4 text-center">
          <h1>Welcome to Split Rail Artists!</h1>
</div>
      <div class="row my-4">
        <div class="col-lg-8">
          <img class="img-fluid" src="assets/images/sra_logo.png" alt="(Split Rail Artists log
o)">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
          <p>Split rail artists is a vibrant and informal group of friendly people who m
eet weekly to paint and develop their skills.
As an art association we seek to promote ourselves and our community,  hold workshops an
d exhibit our work in a spirit of mutual support.
Located in Grey Highlands,we welcome like minded individuals to join our group.  </p>
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->

      <!-- Call to Action Well -->
      <div class="card text-white bg-secondary my-4 text-center">
        <div class="card-body">
          <p class="text-white m-0">We are always looking for new members. <a href="{{ "/contact/" | relative_url }}" c
lass="text-white">Click here</a> for more information.</p>
        </div>
      </div>
      <!-- Content Row -->
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Artists</h2>
              <p class="card-text">Explore the work of our members.</p>
            </div>
            <div class="card-footer">
              <a href="{{ "/artists/" | relative_url }}" class="btn btn-primary">More Info</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card-body">
            <img src="assets/images/sra_circle.png" alt=""></img>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Events</h2>
              <p class="card-text">Split Rail Artists is active in Grey County. Find out
 where you can meet us.</p>
            </div>
            <div class="card-footer">
              <a href="{{ "/events/" | relative_url }}" class="btn btn-primary">More Info</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->

      </div>
      <!-- /.row -->

